@meta charset "utf-8";

.header_wrapper {width:100%; height: 280px; border-bottom :1px solid #eee; position: relative;} 

/**상단 광고**/
.top_banner_wrap {background-color: #f4f4f4;}
.top_banner_inner {margin: 0 auto; width: 1200px; position: relative;}
.top_banner_inner > a > img {position: relative; top:0; left: 50%; transform: translateX(-50%); width:100; height: 100;}
.btn_close_button {border: none; position: absolute; width: 20px; height: 20px; top:50%; font-size: 0; right:0; transform: translateY(-50%); 
background-image: url("../img/btn_top_banner_close@2x.png");
background-position: center; background-repeat: no-repeat;
background-size: 20px 20px;}

/**색깔별 카테고리**/
.service_mall_wrap {position: relative; z-index: 101;}
.service_mall_wrap::after {content: ""; position: absolute; right:0; top:0; display: block; width:50vw; height: 100%; background-color: #f4f4f4;}
.service_mall_wrap > .service_mall_inner {position: relative; padding-left: 172px; width:1200px;  position: relative; margin:0 auto; background-color: #f4f4f4; display: flex; z-index: 2;}
.service_mall_inner::before {content: ""; position: absolute; top:12px; left: 169px; width:8px; height: 8px; background-color: #3e43a4; border-radius: 100%; z-index: 2;}
.service_mall_inner::after {content: ""; position: absolute; top:0; left: 0; width:230px; height: 42px; background-size: 100% auto; background-image: url("../img/bg_service_mall_shape@2x.png");}
.service_mall_box {flex:1; padding-top: 9px;}
.service_mall_box > .service_mall_list {font-size: 0; }
.service_mall_box > .service_mall_list > .service_mall_item {position: relative; display: inline-block; vertical-align: top;width:120px;}
.service_mall_item > a {color:#fff; text-align: center; font-size: 14px; font-weight: 900; padding-left: 35px; line-height: 32px; letter-spacing: -1px;}
.service_mall_item:not(:first-child) {margin-left:-32px;}
.ebook {background-image: url("../img/menubar1.png"); background-position: center; background-repeat: no-repeat; background-size: 135px 33px; transform: translate(0, 0);}
.sam {background-image: url("../img/menubar2.png"); background-position: center; background-repeat: no-repeat; background-size: 135px 33px; transform: translate(87 0); padding-left: 10px;}
.hottracks {background-image: url("../img/menubar3.png"); background-position: center; background-repeat: no-repeat; background-size: 135px 33px;  transform: translate(174, 0);}
.location {background-image: url("../img/menubar4.png"); background-position: center; background-repeat: no-repeat; background-size: 135px 33px; transform: translate(261, 0);}
.talk {background-image: url("../img/menubar5.png"); background-position: center; background-repeat: no-repeat; background-size: 135px 33px;  transform: translate(348, 0);}
.story {background-image: url("../img/menubar6.png"); background-position: center; background-repeat: no-repeat; background-size: 135px 33px; ; transform: translate(437, 0);}
.more_brand {position: relative; padding-left: 25px;}
.more_brand > .btn_brand_more {padding:6px 0 8px; font-size: 13px; line-height: 19px; color:#595959;}
.more_brand > .btn_brand_more::after {content: ""; position: relative; display: inline-block; width: 6px; height: 4px; background-position: center; background-repeat: no-repeat; background-size: 6px 4px; background-image: url("../img/arw_service_more@2x.png"); vertical-align: top; margin:6px 0 0 4px;}

.customer_service_box {margin:9px 0 0 auto;}
.customer_service_box > .customer_service_list {font-size: 0;}
.customer_service_box > .customer_service_list > .customer_service_item {position: relative; display: inline-block; vertical-align: top; }
.customer_service_box > .customer_service_list > .customer_service_item > .util_link {display: inline-block; padding:6px 0 8px; font-size: 13px; line-height: 18px; color:#595959; opacity: 0.8; vertical-align: top;}  
.customer_service_item:not(:first-child) > a::before {content:""; display: inline-block; width:1px; height: 8px; background-color: #595959; margin:10px 10px 0; opacity: 0.2; vertical-align: top;}
.btn_member_benefit::after {position: relative; content: ""; display: inline-block; width:6px; height: 4px; margin:12px 0 0 4px; background: url("../img/arw_benefit_more@2x.png") center no-repeat; background-size: 6px 4px; vertical-align: top;} 

/**헤더 메인**/
.header_inner {width:1200px; margin: 0 auto;  position: relative;}
.header_inner > .gnb_search_wrap {position: relative; padding:31px 188px 0 206px;}
.gnb_search_wrap  > .logo_box {width:174px; height: 92px; position: absolute; top:14px; left:0;  display: block;}
.gnb_search_wrap  > .logo_box > .logo_link {display: block; height: 100%; background-image: url("../img/img_logo_kyobo@2x.png"); background-position:0 0; background-repeat: no-repeat; background-size:174px 92px;}
.gnb_search_box { width:560px; height:48px; border-radius: 25px; border: 1px solid #5055b1; background-color: #fff; position: absolute; left: 200px; top:30px; display: flex; align-items: center; padding-right: 14px;}
.form_sel {width:133px; height: 48px;} 
#gbCode {display: none; font-size: 14px; border:none; background: none; vertical-align: middle; }
.ui_selectmenu_button {display: inline-block; width:100%; height: 48px; border: 1px solid #5055b1; border-radius: 24px; position: relative; z-index: 1;}
.ui_selectmenu_icon {position: absolute; right: 16px; top:21px; width: 6px; height: 4px; background-image: url("../img/arw_header_search@2x.png"); background-position: center; background-repeat: no-repeat; background-size: 6px 4px;}
.ui_selectmenu_text {position: absolute; padding:11px 16px 5px 24px; line-height: 22px; font-size: 14px;}

.search_input_wrap {width:382px; height: 46px; position: relative; padding-left:16px;}
.search_input_wrap::before {content:""; position: absolute; display: block; width: 1px; height: 12px; top: 50%; left: 0; background-color: #eaeaea; transform: translateY(-50%);}
.ip_gnb_search {width:100%; height: 100%; background:none; border:none; font-size: 14px; line-height: 22px; letter-spacing: -0.01em;}

.search_icon_wrap {width:30px; height: 30px; display: block; background-image: url("../img/btn_header_search@2x.png"); background-position: center; background-repeat: no-repeat; background-size: 18px 18px;} 

.user_menu_list {width:140px; height: 48px; position: absolute; top:10px; right:0; display: flex; justify-content: space-around;  padding:0;}
.user_menu_item {width: 32px; height: 32px; margin-left: 10px;; position: relative; display: inline-block;}
.cart > .user_menu_link::before {content: ""; display: inline-block; width:48px; height: 48px; background-image: url("../img/btn_header_cart@2x.png"); background-position: center; background-repeat: no-repeat; background-size: 48px 48px;}
.my > .user_menu_link::before {content: ""; display: inline-block; width:48px; height: 48px; background-image: url("../img/btn_header_my@2x.png"); background-position: center; background-repeat: no-repeat; background-size: 48px 48px;}

.gnb_wrap {width:1200px; height: 86px; padding:22px 0 20px; display: flex; align-items: center;}
.anb_wrap {position: relative; width:44px; height: 44px; margin-right: 10px; margin-left: 5px;}
.anb_wrap > .btn_anb {display: block; width:44px; height: 44px; background-image: url("../img/btn_anb_open@2x.png"); background-position: center; background-repeat: no-repeat; background-size: 44px 44px; border:none; background-color: transparent;}  
.gnb_list {width:780px; height: 34px;}
.gnb_item {display: inline-block;}
.gnb_link {color:#000;}
.green {color:#4dac27;}
.gnb_text {display: inline-block; line-height: 24px; padding:5px 12px; font-weight: 900; letter-spacing: -1px;}
.icon_new {position: relative; top:5px; right:10px; width:4px; height: 4px; background-color: #4dac27; border-radius: 2px; position: relative; display: inline-block; vertical-align: top;}
.gnb_item:not(:first-child)::before {content: ""; display: inline-block; width: 2px; height: 2px; margin:15px -3px 0; background-color: #000; vertical-align: top; }

.gnb_sub_list {width:160px; height: 22px; margin-left: auto; margin-right: -168px; }
.gnb_sub_item {display: inline-block;}
.gnb_sub_item:nth-of-type(2)::before {content: ""; display: inline-block; width: 2px; height: 2px; margin:10px -3px 0; background-color: #595959; vertical-align: top; }
.gnb_sub_link {font-size: 14px; line-height: 22px; color:#595959; padding:3px; letter-spacing: -0.01em;}
.more_service {position: relative; margin-left: 4px;}
.btn_more_service {display:inline-block; width:20px; height: 20px; background-image:url("../img/btn_gnb_service_more@2x.png"); background-size: 20px 20px; background-position: center;  border:none; background-color: transparent;}

.curtain_banner_wrap {width:36px; height:87px; margin-right:0;;}

/**main strat**/
.welcome_banner_wrap {width:100%; height: 632px;  position: relative; padding-top: 60px;}
.welcome_banner_inner {position: relative; width:1615px; height: 572px; margin-right: 0;}
.banner_title {display: inline-block; max-width: 750px; margin-left:64px; font-size: 38px; line-height: 55px; font-weight: 700; letter-spacing: -0.01em; color:#000;}
.banner_visual_box > .img_box {padding-top: 12px;}

.banner_floating_box {width:408px; height:352px; position: absolute; top:0; right:360px; display: flex;} 
.banner_control_box {width:90px; height: 30px;  display: flex; margin-top: 80px;}
.swiper-pagination {color:#767676; line-height: 22px; letter-spacing: -0.01em; position: relative;}
.swiper-pagination-current {display: inline-block;font-size: 13px; line-height: 29px; vertical-align: top ;color:#000; font-weight: 500;}
.swiper-pagination-total {display: inline-block; color:#ccc; font-size: 13px; line-height: 29px; vertical-align: top;}
.swiper-pagination-total::before {content:"-"; display: inline-block; margin:0 4px 0 3px; color:#ccc;}

.btn_swiper_pause {width:30px; height: 30px; margin-left: 12px; background-repeat: no-repeat; background-position: 0 0; background-size: 30px 60px; background-image: url("../img/arw_swiper_pause_resume@2x.png"); border:none; background-color: transparent;}
.banner_content_box {width:273px; height:352px; background-color: #fff; display: inline-block; border-radius: 20px 0 20px 20px; margin-left: 50px; overflow: hidden;}
.banner_content_box img {width:100%; height: 200px;}
.content_info_box {padding:20px 24px 30px; color:#000;}
.content_type {color:#474c98; font-size: 13px; line-height: 19px; letter-spacing: -0.01em; font-weight: 500;}
.content_title {margin-top:5px; font-size: 15px; line-height: 23px; font-weight: 500; letter-spacing: -0.01em;}
.content_desc {color:#767676; margin-top: 13px; line-height: 19px; font-size: 13px; letter-spacing: -0.01em;}

.welcome_banner_control {width:1441px; height: 70px; position: absolute; background: rgba(255,255,255,0.95); margin-left: 461px; bottom:0; left:0; right:0;}
.banner_control_inner {width:1090px; height: 100%; display: flex; align-items: center;  margin-left:0;}
.banner_group_list {display: flex; justify-content: space-around; align-items: center;}

.active {border-bottom: 2px solid #000; color:#000;}
.btn_banner_group {color:#767676; font-weight: 700; position: relative; font-size: 14px; line-height: 66px; letter-spacing: -0.01em; margin:0 22px 0; background:none;}
.btn_banner_group:not(.active) {color:#767676;}
.divider {height: 16px; width:1px; background: rgba(0,0,0,0.1);}
.banner_btn_box {width:166px; height:50px; display: flex; justify-content: space-around; align-items: center; margin-left: 30px;}
.header_swiper-button-prev {position: relative; width:30px; height: 30px; margin-top:0; background-image: url("../img/arw_welcome_main_swiper@2x.png"); background-size: 30px 30px; background-repeat: no-repeat; background-position: center;  top:auto; left: auto; right: auto;transform: rotate(180deg); border-radius: 100%; background-color: transparent; cursor: pointer;}
.header_swiper-button-next {position: relative; width:30px; height: 30px; margin-top:0; background-image: url("../img/arw_welcome_main_swiper@2x.png"); background-size: 30px 30px; background-repeat: no-repeat; background-position: center; border-radius: 100%; background-color: transparent;}
.btn_show_all_banner {width:50px; height:50px; background-image: url("../img/btn_welcome_show_all@2x.png"); background-size: 50px 50px; background-color: transparent;}

.contents_inner {width:1200px; height: auto; margin:0 auto;}
.welcome_marketing_list {margin:70px 0;}
.welcome_marketing_list {display: flex; justify-content: space-between; align-items: center;}
.item > a {display: block; color:#595959; font-size: 14px; line-height:22px; letter-spacing: -0.01em; text-align: center;}
.item > a::before {content: ""; display: block; width: 68px; height: 68px; margin: 0 auto 10px;}
.item1 > a::before {background-image: url("../img/ico_welcome_marketing_1.svg");}
.item2 > a::before {background-image: url("../img/ico_welcome_marketing_2.svg");}
.item3 > a::before {background-image: url("../img/ico_welcome_marketing_3.svg");}
.item4 > a::before {background-image: url("../img/ico_welcome_marketing_4.svg");}
.item5 > a::before {background-image: url("../img/ico_welcome_marketing_5.svg");}
.item6 > a::before {background-image: url("../img/ico_welcome_marketing_6.svg");}
.item7 > a::before {background-image: url("../img/ico_welcome_marketing_7.svg");}
.item8 > a::before {background-image: url("../img/ico_welcome_marketing_8.svg");}
.item9 > a::before {background-image: url("../img/ico_welcome_marketing_9.svg");}
.item10 > a::before {background-image: url("../img/ico_welcome_marketing_10.svg");}
.item11 > a::before {background-image: url("../img/ico_welcome_marketing_11.svg");}
.item12 > a::before {background-image: url("../img/ico_welcome_marketing_12.svg");}
.title_wrap {padding-bottom: 30px; position: relative; display: flex; align-items: center;}
.title_heading {font-size: 30px; line-height: 40px; letter-spacing: -0.01em; margin: 0; display: inline-block; font-weight: 700px;}
.category_tag_list {margin:4px 0 0 30px;}
.category_tag_item {display: inline-block; margin-right: 30px; vertical-align: top;}
.btn_categoty {font-weight: 700; color:#767676; position: relative; font-size: 15px; line-height: 23px; letter-spacing: -0.01em; background-color: transparent;}
.btn_categoty::before {background-color: #4dac27; content: ""; position: absolute; display: block; width:6px; height: 6px; border-radius: 100%; left: 50%; top:-8px; transform: translateX(-50%); } 
.category_active {color:#474c98; font-weight: 700;}
.right_area {margin-left: auto; margin-right: 0;}
.btn_more_plus_text {font-size: 15px; line-height: 23px; letter-spacing: -0.01em; display: inline-block; vertical-align: top;}
.btn_more_plus_text > .text {color:#000; font-weight: 700; text-align: left; position: relative;}
.ico_plus {display: inline-block; position: relative; width:10px; height: 10px; margin: 6px 0 0 6px; background: url("../img/ico_plus_h10_bold@2x.png") center no-repeat; background-size: 10px 10px;}

.showcase_template_wrap {width:1200px; height: 368px;margin:0 auto; position: relative;}
.detail_swiper_wrap {width:734px; height: 368px; padding-right: 74px; position: relative; margin-left: 0;}
.swiper-container {margin:0 auto; width:100%; overflow: hidden; height: auto; padding:0; position: relative;}
.detail_swiper_wrap > .swiper-container > ul {width:100%; height: 368px; }
.detail_swiper_wrap > .swiper-container > ul > li {width:660px; height: 100%; opacity: 1;}
.detail_swiper_wrap > .swiper-container > ul > li > .prod_area {display: flex; align-items: center;}
.detail_swiper_wrap > .swiper-container > ul > li > .prod_area > .prod_thumb_box {width:234px; height: 342px; box-shadow: 10px 10px 30px rgba(0,0,0,0.08);}
.detail_swiper_wrap > .swiper-container > ul > li > .prod_area > .prod_thumb_box > .prod_link > .img_box {display: inline-block;}
.detail_swiper_wrap > .swiper-container > ul > li > .prod_area > .prod_thumb_box > .prod_link > .img_box > img {width:100%; height: 100%; border:1px solid #eaeaea;}

.detail_swiper_wrap > .swiper-container > ul > li > .prod_area > .prod_info_box {width:396px; height: 240px; padding-top: 15px; margin-left: 30px; }
.detail_swiper_wrap > .swiper-container > ul > li > .prod_area > .prod_info_box > a > .prod_name {font-size: 20px; line-height: 30px; letter-spacing: -0.01em; color:#000;}
.detail_swiper_wrap > .swiper-container > ul > li > .prod_area > .prod_info_box > .prod_author {font-size: 14px; letter-spacing: -0.01em; line-height: 22px; margin-top: 8px; color:#595959;}
.detail_swiper_wrap > .swiper-container > ul > li > .prod_area > .prod_info_box > .prod_price {margin-top: 20px;}
.percent {line-height: 24px; letter-spacing: -0.01em; color:#4dac27; font-weight: 700; margin-right: 3px; display: inline-block; vertical-align: top;}
.percent > .price > .val {line-height: 24px; letter-spacing: -0.01em; font-weight: 700;}
.percent > .price > .unit {line-height: 24px; letter-spacing: -0.01em;}
.prod_md_comment {position: relative; color:#474c98; margin-top: 30px; padding-left: 20px; font-size: 14px; line-height: 22px; letter-spacing: -0.01em; font-weight: 700; display: inline-block;}
.prod_md_comment::before {content: ""; position: absolute; display: block; width:16px; height: 16px; background-size: 16px 16px; background-image: url("../img/ico_md_comment@2x.png"); top:3px; left: 0;}
.prod_md_comment_desc {max-height: 66px; margin-top: 12px; color:#595959; font-size: 14px; letter-spacing: -0.01em; line-height: 22px;}

.swiper-button-prev {position: relative; width:30px; height: 30px; margin-top:0; background-image: url("../img/arw_welcome_main_swiper@2x.png"); background-size: 30px 30px; background-repeat: no-repeat; background-position: center; top:auto; left: auto; right: auto; transform: rotate(180deg); border-radius: 100%; background-color: transparent; cursor: pointer;}
.swiper-button-next {position: relative; width:30px; height: 30px; margin-top:0; background-image: url("../img/arw_welcome_main_swiper@2x.png"); background-size: 30px 30px; background-repeat: no-repeat; background-position: center; border-radius: 100%; background-color: transparent;}

.trumb_swiper_wrap {width:648px; height: 261px; position: absolute; display: block; top:0; right: 0; bottom:0; margin:auto;}
.trumb_swiper_wrap > .swiper-container {margin:0 auto; height: auto; position: relative;}
.trumb_swiper_wrap > .swiper-container > .thumb_list {display: flex; align-items: center; justify-content: flex-end;}
.thumb_item {margin: 0 0 0 20px; width:142px; height: 261px;}
.thumb_img_box {border: 1px solid #eaeaea;}
.thumb_img_box > a > img {width:100%; min-height: 50px; vertical-align: middle;}
.thumb_item > .prod_area > .prod_info_box {margin-top:12px; margin-left: 0; padding-top: 0;}
.thumb_item > .prod_area > .prod_info_box > a >.prod_name {font-size: 13px; height: 38px; line-height: 19px; max-width: 38px; font-weight: 400; color:#000;}

.type_white {border:1px solid #ccc; background-color: #fff; background-size: 44px 44px; background: url("../img/btn_swiper_arr@2x.png") center no-repeat; }
.expand_related_book_wrap > .swiper-button-prev {left:-64px; position: absolute; top:50%; width:44px; height: 44px;  cursor: pointer; right: auto;}
.expand_related_book_wrap > .swiper-button-next {right:-64px; position: absolute; top:50%; width:44px; height: 44px; cursor: pointer;}

.welcome_main_content_area {margin-top:110px;}
.showcase_blurb_wrap {margin-top: 30px; display: block;}
.showcase_blurb_box {width: 595px; height: 180px; border-radius: 10px; overflow: hidden; display: inline-block; }
.showcase_blurb_box > a> img {width:100%; height: 100%;}

.fluid_swiper_wrap {position: relative;}
.fluid_swiper_wrap > .swiper-container {width:1200px; height: auto;}
.fluid_swiper_wrap > .swiper-container > .swiper-wrapper {display: flex; justify-content: space-between;}
.fluid_swiper_wrap > .swiper-container > .swiper-wrapper > .swiper-slider {height: 100%; height:auto; position: relative;}
.fluid_swiper_wrap > .swiper-container > ul > li > .prod_area > .prod_thumb_box {width:271px; height: 388px; position: relative;}
.fluid_swiper_wrap > .swiper-container > ul > li > .prod_area > .prod_thumb_box > a > .img_box > img {display: block; border: 1px solid #eaeaea; width:100%; height: 100%;}
.fluid_swiper_wrap > .swiper-container > ul > li > .prod_area > .prod_info_box {margin-top: 20px;}
.fluid_swiper_wrap > .swiper-container > ul > li > .prod_area > .prod_info_box > a > .prod_category{color:#767676; font-size: 13px; line-height: 19px; letter-spacing: -0.01em;}
.fluid_swiper_wrap > .swiper-container > ul > li > .prod_area > .prod_info_box > a > .prod_name {line-height: 30px; color:#000; font-weight: 500; display: block; letter-spacing: -0.01em;}
.fluid_swiper_wrap > .swiper-container > ul > li > .prod_area > .prod_info_box > .prod_author {font-size: 14px; letter-spacing: -0.01em; line-height: 22px; max-height: 44px; margin-top: 8px; color:#595959;}


.swiper-button-prev {left:-64px; position: absolute; top:50%; width:44px; height: 44px;  cursor: pointer;  background-size: 44px 44px; margin-top: -22px;}
.swiper-button-next {right:-64px; position: absolute; top:50%; width:44px; height: 44px;  cursor: pointer;  background-size: 44px 44px; margin-top: -22px;}
.swiper-button-disable {opacity: 0.3;}

.picks_wrap {background: rgba(77, 172, 39, 0.06); width:100%; height: 552px;}
.picks_wrap > .contents_inner > .picks_wrap_inner {padding: 80px 0 84px;}
.picks_wrap > .contents_inner > .picks_wrap_inner > .title_wrap {padding-bottom: 30px; display: flex;}
.picks_wrap > .contents_inner > .picks_wrap_inner > .title_wrap > h2 > .picks_logo {display: inline-block; width:82px; height: 45px; background: url("../img/ico_welcome_picks.svg") center no-repeat;}

.picks_contents {display: flex; align-items: center;}
.picks_contents > .left_area {width:327px; height: 212px;}
.picks_info_box > .picks_desc {color:#3c9a17; margin-bottom: 7px; font-size: 15px; line-height: 23px; letter-spacing: -0.01em; font-weight: 500;}
.picks_info_box > .picks_info {font-size: 24px; line-height: 35px; letter-spacing: -0.01em; font-weight: 700;}
.picks_contents > .left_area > .btn_wrap {margin-top:62px; text-align: left; display: block;}
.picks_contents > .left_area > .btn_wrap > .btn_lg {color:#fff; height: 50px; min-width: 200px; padding:0 23px 1px; border-radius: 6px; line-height: 24px; font-weight: 700; display: flex; align-items: center; background-color: #4dac27; width:280px;}


.picks_contents > .right_area {width:848px; height: 313px; margin-left: 25px;}
.picks_contents > .right_area > ul {display: flex; justify-content: space-between;}
.picks_contents > .right_area > ul > li {position: relative; width:200px; height: 313px; background-color: #3c9a17; border-radius: 16px;}
.picks_contents > .right_area > ul > li > .picks_item_inner > .img_box {height: 180px; overflow: hidden; border-radius: 16px 16px 0 0; margin:0; padding:0;}
.picks_contents > .right_area > ul > li > .picks_item_inner > .img_box > img {width:100%; height: 100%;}
.picks_contents > .right_area > ul > li > .picks_item_inner > .picks_info {height: 133px; border:1px solid #eaeaea; border-radius: 0 0 16px 16px; padding-top:20px; text-align: center; background-color: #fff;}
.picks_contents > .right_area > ul > li > .picks_item_inner > .picks_info > .picks_info_title {font-size: 14px; line-height: 22px; letter-spacing: -0.01em; font-weight: 700;}
.picks_contents > .right_area > ul > li > .picks_item_inner > .picks_info > .picks_info_desc {color:#595959; margin-top:6px; font-size: 13px; line-height: 19px; letter-spacing: -0.01em;}

.category_item {display: inline-block; margin-right: 30px; vertical-align: top;}

.welcome_prod_swiper_wrap {width:1200px; height: 403px; position: relative;}
.welcome_prod_swiper_wrap > .swiper-container {margin:0 auto; width:100%; height: 100%; padding:0; position: relative;}
.welcome_prod_swiper_wrap > .swiper-container > .swiper-wrapper {position: relative; width:100%; height: 100%; display: flex;}
.welcome_prod_swiper_wrap > .swiper-container > .swiper-wrapper > .swiper-slider {margin-right: 36px; width: 211px; height: 100%; position: relative;}

.welcome_prod_swiper_wrap > .swiper-container > ul > li > .prod_area > .prod_thumb_box {width:211px;}
.welcome_prod_swiper_wrap > .swiper-container > ul > li > .prod_area > .prod_thumb_box > .prod_link > .img_box {display: inline-block;}
.welcome_prod_swiper_wrap > .swiper-container > ul > li > .prod_area > .prod_thumb_box > .prod_link > .img_box > img {width:100%; height: 100%; border:1px solid #eaeaea;}

.welcome_prod_swiper_wrap > .swiper-container > ul > li > .prod_area > .prod_info_box {margin-top:16px;}
.welcome_prod_swiper_wrap > .swiper-container > ul > li > .prod_area > .prod_info_box > a > .prod_name {font-size: 15px; line-height: 23px; letter-spacing: -0.01em; color:#000; font-weight: 500; display: block; max-height: 46px;}
.welcome_prod_swiper_wrap > .swiper-container > ul > li > .prod_area > .prod_info_box > .prod_author {font-size: 13px; margin-top: 5px; letter-spacing: -0.01em; line-height: 19px; max-height: 38px; color:#595959;}
.welcome_prod_swiper_wrap > .swiper-container > ul > li > .prod_area > .prod_info_box > .prod_price {margin-top: 20px;}

.ico_ads {margin-top: 26px; width:24px; vertical-align: middle;}

#welcome_week .welcome_prod_wrap {width:1200px; height: auto;}
#welcome_week  .welcome_prod_wrap > ul {width: 100%; height: 100%;}
#welcome_week  .welcome_prod_wrap > ul > li {width:211px; height: 100%; margin-left: 36px; display: inline-block; vertical-align: top;}
.welcome_prod_wrap > ul > li > .prod_area > .prod_thumb_box { width: 211px; position: relative; overflow: hidden; display: block;}
.welcome_prod_wrap > ul > li > .prod_area > .prod_thumb_box > a > .img_box {padding-top: 0; overflow: hidden; position: relative; display: block; border:1px solid #eaeaea;}
.welcome_prod_wrap > ul > li > .prod_area > .prod_thumb_box > a > .img_box > img { width:100%; height: 100%; max-height: 328px;}
.welcome_prod_wrap > ul > li > .prod_area > .prod_info_box {margin-top: 16px;}
.welcome_prod_wrap > ul > li > .prod_area > .prod_info_box > a > .prod_name {display: block; max-height: 46px; font-size: 15px; line-height: 23px; font-weight: 500; color:#000; letter-spacing: -0.01em;}
.welcome_prod_wrap > ul > li > .prod_area > .prod_info_box > .prod_author {color:#595959; margin-top: 5px; font-size: 13px; letter-spacing: -0.01em; line-height: 22px; }
.welcome_prod_wrap > ul > li > .prod_area > .prod_info_box > .prod_price {display: block; margin-top: 12px;}
.welcome_prod_wrap > ul > li > .prod_area > .prod_info_box > .prod_price > .price {display: inline-block; vertical-align: top;}
.welcome_prod_wrap > ul > li > .prod_area > .prod_info_box > .prod_price > .price > .val{font-weight: 700; font-size: 14px; letter-spacing: -0.01em; line-height: 22px;}
.welcome_prod_wrap > ul > li > .prod_area > .prod_info_box > .prod_price > .price > .unit{ font-size: 14px; letter-spacing: -0.01em; line-height: 22px;}

.hit_wrap {width:100%; height: 276px; position: relative;}
.hit_wrap > .left_area {width:307px; height: 100%; padding:24px 48px 0 0; position: absolute; display: flex; flex-direction:column;}
.hit_wrap > .left_area > .title_wrap {display: flex; padding-bottom: 0; display: inline-block;}
.hit_wrap > .left_area > .title_wrap > .info_text {font-size: 15px; line-height: 23px; letter-spacing: -0.01em; margin-top: 17px; margin-left: 0; color:#595959; width:100%;}
.hit_wrap > .left_area > .title_wrap > .btn_more_plus_text {margin-top: 31px;}
.hit_wrap > .left_area > .hit_swiper_controller {margin-top: 50px; display: inline-block; margin-left: 0;}
.hit_wrap > .left_area > .hit_swiper_controller > .swiper-button-prev {left:auto; position: relative; margin-top: 0; top:auto;}
.hit_wrap > .left_area > .hit_swiper_controller > .swiper-button-next {margin-left: 10px; right:auto; position: relative; margin-top: 0; top:auto;}
.hit_wrap > .right_area {position: absolute; height: 300px; width: 893px; top:0; right: 0;}
.hit_wrap > .right_area > .hit_item_wrap > .swiper-container > .swiper-wrapper {position: relative; width:100%; height: 100%; display: flex; transform: translate3d(0, 0, 0); box-sizing: content-box;}
.hit_wrap > .right_area > .hit_item_wrap > .swiper-container > .swiper-wrapper > .swiper-slider {width:276px; height: 276px; margin-right: 33px; position: relative;}
.hit_wrap > .right_area > .hit_item_wrap > .swiper-container > ul > li > a > .prod_area > .prod_thumb_box {width: 100%; height: 100%; position: relative; overflow: hidden;}
.type_cover_circle {margin:0 auto;}
.type_cover_circle > .img_box { width:100%; height: 276px; background-repeat: no-repeat; background-position: center; background-size: cover; border-radius: 100%;
overflow: hidden; position: relative; display: block; border: 1px solid #eaeaea;}
.type_cover_circle > .img_box > img {position: absolute; visibility: hidden; overflow: hidden; height: 0; width: 0;}
.hit_wrap > .right_area > .hit_item_wrap > .swiper-container > ul > li > a > .prod_area > .prod_info_box {display: none; position: absolute; margin-top:0; padding:0 50px; background:rgba(0,0,0,0.7); left: 0; top: 0; right: 0; bottom: 0; border-radius: 50%; text-align: center;}  
.hit_wrap > .right_area > .hit_item_wrap > .swiper-container > ul > li > a > .prod_area > .prod_info_box > .prod_info {width:100%; height: auto; display: block; font-size: 0;}
.hit_wrap > .right_area > .hit_item_wrap > .swiper-container > ul > li > a > .prod_area > .prod_info_box > .prod_info > .prod_name {color:#fff; font-size: 15px; line-height: 23px; letter-spacing: -0.01em; font-weight: 500;}
.ellipsis_single {overflow: hidden; display: inline-block; max-width: 100%; height: auto; max-height: none; font-size: 15px; line-height: 23px; letter-spacing: -0.01em;}
.hit_wrap > .right_area > .hit_item_wrap > .swiper-container > ul > li > a > .prod_area > .prod_info_box > .prod_price {margin-top:31px; line-height: 24px; letter-spacing: -0.01em; display: block; color:#fff;}
.hit_wrap > .right_area > .hit_item_wrap > .swiper-container > ul > li > a > .prod_area > .prod_info_box > .prod_price > .percent {display: inline-block; margin-right: 3px; font-size: 14px; line-height: 22px; font-weight: 700; color:#4dac27; vertical-align: top;}
.hit_wrap > .right_area > .hit_item_wrap > .swiper-container > ul > li > a > .prod_area > .prod_info_box > .prod_price > .price {display: inline-block; font-size: 0; vertical-align: top;}
.hit_wrap > .right_area > .hit_item_wrap > .swiper-container > ul > li > a > .prod_area > .prod_info_box > .prod_price > .price > .val {font-weight: 700; font-size: 14px; line-height: 22px; letter-spacing: -0.01em;}
.hit_wrap > .right_area > .hit_item_wrap > .swiper-container > ul > li > a > .prod_area > .prod_info_box > .prod_price > .price > .unit {font-size: 14px; line-height: 22px; letter-spacing: -0.01em;}


.btn_title_toggle {display: inline-block; vertical-align: top; background-color: transparent; font-size: 30px; line-height: 40px; letter-spacing: -0.01em; font-weight: 700;}
.btn_title_toggle > .text::before {content: ""; position: absolute; display: inline-block; width:2px; height: 13px; background: #eaeaea; left: 105px; top:17px;}

.hidden {position: absolute; visibility: hidden; overflow: hidden; height: 0; width: 0; margin: 0; padding:0;}
.best_steady_wrap {width:1200px; height: 919px;}
.best_steady_wrap > .welcome_prod_wrap > ul > .prod_item {width:211px; display: inline-block; vertical-align: top; margin-right: 30px;}

.best_prod_head {display: flex; margin-bottom: 10px; min-height: 26px;}
.badge_green {width:131px; height: 26px; border: none; background:url("../img/ico_best_kyobo_lg@2x.png") 0% 0% no-repeat; background-size: 131px 26px;  margin-left: 0;}
.badge_light_gray {width:22px; height: 22px; color:#fff; background-color: #767676; border:1px solid #767676; text-align: center; vertical-align: top; border-radius: 6px 0px; font-weight: 700;}
.badge_flag {margin-right: 8px; margin-left: 0; padding:0; font-size: 12px; line-height: 22px;}
.badge_green > .text {visibility: hidden; position: absolute;}
.best_prod_head > .rank_status {display: inline-block; padding-left: 13px; margin-top: 3px; height: 19px; background: url("../img/ico_rank_status@2x.png") left center no-repeat; background-size: 8px 5px; vertical-align: top; font-size: 13px; margin-right: 0; }

.prod_item:nth-child(n+6) {margin-top: 40px;}
.prod_item > .prod_thumb_box {width:211px; position: relative; overflow: hidden;}
.prod_item > .prod_thumb_box > a {display: block; height: 100%;}
.prod_item > .prod_thumb_box > a > .img_box {width:211px; overflow: hidden; position: relative; display: block; border: 1px solid #eaeaea;}
.prod_item > .prod_thumb_box > a > .img_box > img {max-height: 328.162px; width:100%;}
.prod_item > .prod_info_box {margin-top:16px;}
.prod_item > .prod_info_box > a {height: 100%; display: block; text-decoration: none; color:#000;}
.prod_item > .prod_info_box > a > .prod_name {font-size: 15px; line-height: 23px; font-weight: 500;}

.best_steady_bottom_box {margin-top: 20px; text-align: right;}
.best_steady_bottom_box > .text_refresh_time {color:#767676; font-size: 13px; line-height: 19px}

.advertise_swiper {border-radius: 10px;}
.advertise_swiper > .swiper-wrapper {position: relative; width:100; height: 100%; display: flex;}
.advertise_swiper > .swiper-wrapper > .swiper-slider {width:100%; height: 100%;}
.advertise_swiper > .swiper-wrapper > .swiper-slider > a > img {border-radius: 10px;}

.welcome_casting {width:100%; height: 925px; position: relative;}
.casting_banner_wrap {position: relative;}
.casting_banner_wrap > .casting_blur {position: absolute; width:100%; height: 470px; left: 0; top: 0;}
.casting_banner_wrap > .casting_blur > .swiper-wrapper {transform:translate3d(0, 0, 0); position: relative; width:100%; height: 100%; display: flex; box-sizing: content-box;}
.casting_banner_wrap > .casting_blur > ul > .swiper-slider {width:1903px; transform:translate3d(0, 0, 0); position: relative; height: 100%;}
.casting_banner_wrap > .casting_blur > ul > .swiper-slider> .blur_img_box {height: 100%; position: relative; overflow: hidden;}
.blur_img_box::before {content: ""; position: absolute; top:0; left: 0; width:100%; height: 470px; background-color: rgba(0, 0, 0, 0.6); z-index: 2;}
.blur_img_box > img {display: block; width:100%; top:50%; left: 0; position: absolute; transform: translateY(-28%);}


.casting_contents {position: relative; padding-top: 107px; z-index: 2;}
.casting_contents > .title_wrap > .title_heading > img {height: 40px; vertical-align: middle;}
.casting_contents > .title_wrap > .right_area > a > .ico_plus {background-image: url("../img/ico_plus_h10_bold_white@2x.png");}


.casting_banner_area {display: flex;}
.casting_title_box {padding-right: 30px; color:#fff;}
.casting_title_box > .casting_title {font-size: 30px; font-weight: 700; line-height: 40px; max-height: 120px;}
.casting_title_box > .casting_host {margin-top:17px; font-size: 15px; line-height: 23px;}



.casting_visual_box {display: flex; align-items: flex-end;}
.casting_visual_box > .prod_area {width:118px; height: 257px;  margin-right: 36px;}
.casting_visual_box > .prod_area > .prod_thumb_box {width:118px;}
.casting_visual_box > .prod_area > .prod_thumb_box > a {display: block; height: 100%;}
.casting_visual_box > .prod_area > .prod_thumb_box > a > .img_box > img {width:100%;}
.casting_visual_box > .prod_area > .prod_info_box {margin-top: 16px;}
.casting_visual_box > .prod_area > .prod_info_box > a {height:100%; display: block;}
.casting_visual_box > .prod_area > .prod_info_box > a > .prod_name {font-size:15px; line-height: 23px; font-weight: 500; max-height: 46px;}
.casting_visual_box > .prod_area > .prod_info_box > .prod_author {color:#595959; margin-top:5px; font-size: 13px; max-height: 38px; line-height: 19px;}

.casting_img_link {display: block; width:685px; height: 403px; border-radius: 30px; overflow: hidden;}
.casting_img_link > .img_wrap {height: 100%; background-color: #000; background-size: cover; background-repeat: no-repeat; background-position: center; position: relative; width:100%;}
.casting_img_link > .img_wrap::before {content: ""; position:absolute; top:0; left: 0; width:100%; height: 100%; background-color:rgba(0, 0, 0, 0.4);} 
.casting_img_link > .img_wrap::after {content: ""; display: block; position: absolute; left:50%; top:50%; width:70px; height: 70px; background: url("../img/ico_video_play_w70@2x.png") center no-repeat; background-size: 70px 70px; transform: translate(-50%, -50%);}

.casting_swiper_control_box {width:102px; height: 44px; position: absolute; left: 0; bottom: 176px; }
.casting_swiper_control_box > .swiper-button-prev {left:auto; position: relative; top:auto; background-image: url("../img/btn_swiper_arr_white@2x.png"); margin-top: 0;}
.casting_swiper_control_box > .swiper-button-next {margin-left: 10px; right: auto; top:auto; background-image: url("../img/btn_swiper_arr_white@2x.png"); margin-top: 0;}

.welcome_casting > .contents_inner > .fluid_swiper_wrap {margin-top: 70px; position: relative;}
.casting_post_list {position: relative; width:100%; height: 100%; display: flex; box-sizing: content-box; transform: translate3d(0, 0, 0);}
.casting_post_list > .post_item {width:273px; margin-right: 36px; position: relative; border-radius: 112px; height: 100%;}
.casting_post_list > .post_item > a >img {width:100%; border-radius: 50%;}
.casting_post_list > .post_item > a > .post_info_area {display: none; position: absolute; background-color: rgba(0,0,0, 0.7); padding:0 30px; left: 0; top:0; right:0; bottom:0; border-radius: 50%; text-align: center;}
.casting_post_list > .post_item > a > .post_info_area > .post_title {color:#fff; width:100%; font-size: 14px; line-height: 22px; font-weight: 500;}

.event_big_swiper {border-radius: 16px;}
.event_big_swiper > ul {transition-duration: 800ms; display: flex; position: relative;}
.event_big_swiper > ul > li {width:1200px;}
.event_big_swiper > ul > li > a > img {width:1200px; height: 150px; border-radius: 16px; min-height: 50px;}

.swiper_auto_control_area {display: inline-block; position: absolute; right: 14px; z-index: 2; bottom:14px; height: 30px;}
.swiper_auto_control_area > .swiper_control_box {display: inline-block; min-width: 84px; height: 30px; padding:7px 12px; background:rgba(0, 0, 0, 0.4); border-radius: 30px; text-align: center; font-size: 0; vertical-align: top;}
.swiper_auto_control_area > .swiper_control_box > .swiper-button-prev {display: inline-block; position: static; width: 12px; height: 16px; margin-top: 0; background-position: right center; background-repeat: no-repeat; background-size: 6px 10px; vertical-align: top; background-image: url("../img/btn_swiper_list_wh@2x.png");}
.swiper_auto_control_area > .swiper_control_box > .swiper-pagination {padding:0; height: 16px; border-radius: 0; background:none; position: static; display: inline-block; vertical-align: top; min-width: auto; transform: translateX(0);}
.swiper_auto_control_area > .swiper_control_box > .swiper-pagination > .swiper-pagination-current {font-weight: 500; font-size: 12px; line-height: 16px; display: inline-block; vertical-align: top;}
.swiper_auto_control_area > .swiper_control_box > .swiper-pagination > .swiper-pagination-total{color:#eaeaea; font-weight: 500; font-size: 12px; line-height: 16px; display: inline-block; vertical-align: top;}
.swiper_auto_control_area > .swiper_control_box > .swiper-pagination > .swiper-pagination-total::before {color:#eaeaea; margin:0 3px;}
.swiper_auto_control_area > .swiper_control_box > .swiper-button-next {display: inline-block; position: static; width: 12px; height: 16px; margin-top: 0; background-position: right center; background-repeat: no-repeat; background-size: 6px 10px; vertical-align: top; background-image: url("../img/btn_swiper_list_wh@2x.png");}

.btn_auto_control {display: inline-block; width: 30px; height: 30px; margin-left: 4px; line-height: 1; background: rgba(0, 0, 0, 0.4); border-radius: 30px; vertical-align: top;}
.btn_auto_control > .ico_swiper_control {display: inline-block; width:7px; height: 10px; background: url("../img/ico_swiper_pause@2x.png") center no-repeat; background-size: 6px 8px; vertical-align: top;}



.footer_wrapper {margin-top: 150px;}
.defult {border-top-width: 1px;}
.footer_header {margin-top: 150px; border-top:1px solid #d5d5d5;}

.footer_inner {padding: 19px 0 20px; width:1200px; margin: 0 auto; display: flex; align-items: center;}
.notice_wrap {flex:1; display: flex; align-items: center;}
.notice_text {font-size: 15px; display: inline-block; line-height: 22px; font-weight: 700; vertical-align: top;}
.notice_link {flex:1; margin-left: 30px; vertical-align: top; display: inline-block; font-size: 14px; line-height: 22px; text-decoration: underline; width:100%; max-width: 100%; height: auto; max-height: none; overflow: hidden;}
.notice_wrap > .right_area {margin-left: auto; padding-left: 15px;}

.winner {position: relative; padding-left: 61px;}
.winner::before {content: ""; position:absolute; display: inline-block; width:1px; height: 9px; background:#d5d5d5; left: 30px; top:7px} 

.welcome_main_service_area {margin-top: 0; padding:40px 0 50px; background-color: #f7f7f7; border-top: 1px solid #eaeaea;}
.welcome_main_service_area > .footer_inner {padding:0;}
.service_group_area {width:100%; display: flex; align-items: stretch;}
.service_group_box {flex:1;}
.service_group_box:not(:first-child) {border-left: 1px solid #eaeaea; padding-left: 37px;}
.service_group_box > a {padding-right: 22px; background-image: url("../img/arw_anb_category_all@2x.png"); background-repeat: no-repeat; background-position: right center; background-size: 16px 16px; }
.service_group_box > .group_name {display: inline-block; font-size: 14px; line-height: 22px; font-weight:700;}

.service_list {margin-top: 16px;}
.service_list > .service_item {font-size: 13px; line-height: 19px;}
.service_list > .service_item > a {color:#595959;}
.service_item:not(:first-child) {margin-top:10px;}

.footer_body {padding:40px 0 50px; border-top: 1px solid #eaeaea;}
.footer_body > .footer_inner {padding:0; display: block;}
.footer_body > .footer_inner > .logo_box {display: flex; align-items: flex-end; justify-content: space-between;}
.footer_body > .footer_inner > .logo_box > .logo_box {display: flex; align-items: flex-end; justify-content: space-between;  margin-left:0 ;}
.logo_box > .logo_link {width:168px; height: 48px; display: block;} 
.logo_box > .logo_link > img {width:100%; vertical-align: middle;}

.right_box { margin-right:0 ;}
.family_site_box {position: relative; width:206px; display: inline-block; vertical-align: middle;}
.family_site_box > .btn_family_site {background-color: #f7f7f7; border-color: #000; position: relative; width:100%; height: 44px; padding:0 22px; border:1px solid #f7f7f7; border-radius: 22px; text-align: left; cursor: pointer;}
.family_site_box > .btn_family_site > .text { font-size: 13px; line-height: 19px;}
.btn_family_site::after {content: ""; position: absolute; right:18px; top:50%; display: block; width:8px; height: 4px; margin-top: 2px; background: url("../img/arw_familysite_more@2x.png") center no-repeat; background-size: 8px 4px;}

.family_site_box > .family_site_list {display: none; position: absolute; left: 0; bottom:-20px; width:206px; padding:20px 22px; border:1px solid #d5d5d5; border-radius: 20px; background-color: #fff; z-index: 1000;} 
.family_site_box > .family_site_list > li > .family_site_link {display: block; font-size: 13px; line-height: 19px; color:#595959;}
.family_site_box > .family_site_list > .family_site_item:not(:first-child) {margin-top:5px;}

.sns_share_box {margin-left: 12px; display: inline-block; vertical-align: middle;}
.sns_share_box > .btn_sns_share {display: inline-block; width:32px; height: 32px; vertical-align: top; background-position: center; background-repeat: no-repeat;}
.youtube {background-size: 32px 32px; background-image: url("../img/btn_footer_sns_youtube@2x.png");}
.fb {background-size: 32px 32px; background-image: url("../img/btn_footer_sns_fb@2x.png");}
.insta {background-size: 32px 32px; background-image: url("../img/btn_footer_sns_insta@2x.png");}

.footer_contents_wrap {margin-top: 28px; display: flex; }
.footer_contents_left {flex: 1;}
.footer_contents_left > .footer_menu_box {margin-top:2px;}
.footer_menu_list {font-size: 0;}
.footer_menu_item {display: inline-block; vertical-align: top;}
.footer_menu_item > a {font-size: 14px; line-height: 22px; font-weight: 500; color:#595959;}
.footer_menu_item:not(:first-child)::before {content: ""; display: inline-block; width:1px; height: 12px; margin: 4px 12px 0; background-color:#d5d5d5; vertical-align: top;}
.privacy {font-weight: 700; color:#000; text-decoration: underline;}

.footer_info_box {margin-top: 20px; font-style: normal; font-size: 0; display: block;}
.footer_info_box > .info_text {display: inline-block; margin-top: 4px; font-size: 13px; line-height: 19px; color:#595959; vertical-align: top; letter-spacing: -1.5px;}
.footer_info_box > .gap {content: ""; display: inline-block; width:1px; height: 9px; margin: 8px 6px 0; background-color: #d5d5d5; vertical-align: top;}
.btn_footer_link {margin-left: 4px; transform: translateY(1px); display: inline-block; padding:5px 5px; border:1px solid #ccc; border-radius: 4px; font-size: 12px; font-weight: 500; line-height: 1; vertical-align: top;}
.btn_footer_link::after {content: ""; display: inline-block; width:6px; height: 6px; margin:3px 0 02px; vertical-align: top; background:url("../img/arw_footer_link@2x.png") center no-repeat; background-size: 6px 6px;} 
.copyright {margin-top: 23px; font-size: 12px; line-height: 18px; color:#767676;}

.footer_contents_right {margin-left: auto;}
.service_text {display: inline-block; margin:3px 6px 0 0; font-size: 12px; line-height: 18px; color:#595959; vertical-align: top;}
.service_desc {margin-top: 3px; font-size: 12px; line-height: 18px; color:#767676;}
.footer_mark_isms {margin-top:22px; display: flex; align-items: center;}
.mark_link {display: block; font-size: 12px; line-height: 18px; color:#767676; padding:7px 0 7px 54px; background-image: url("../img/img_mark_isms@2x.png"); background-position: 0 0; background-repeat: no-repeat; background-size: 48px 48px;}
.mark_desc {display: block; margin-left: 17px; font-size: 12px; line-height: 18px; color:#767676;}