@meta charset "utf-8";

.header_wrapper {width:100%; height: 280px; border-bottom :1px solid #eee; position: relative;} 

/**상단 광고**/
.top_banner_wrap {background-color: #f4f4f4;}
.top_banner_inner {margin: 0 auto; width: 1200px; position: relative;}
.top_banner_inner > a > img {position: relative; top:0; left: 50%; transform: translateX(-50%); width:100; height: 100;}
.btn_close_button {border: none; position: absolute; width: 20px; height: 20px; top:50%; font-size: 0; right:0; transform: translateY(-50%); 
background-image: url("../img/btn_top_banner_close@2x.png");
background-position: center; background-repeat: no-repeat;
background-size: 20px 20px;}

/**색깔별 카테고리**/
.service_mall_wrap {position: relative; z-index: 101;}
.service_mall_wrap::after {content: ""; position: absolute; right:0; top:0; display: block; width:50vw; height: 100%; background-color: #f4f4f4;}
.service_mall_wrap > .service_mall_inner {position: relative; padding-left: 172px; width:1200px;  position: relative; margin:0 auto; background-color: #f4f4f4; display: flex; z-index: 2;}
.service_mall_inner::before {content: ""; position: absolute; top:12px; left: 169px; width:8px; height: 8px; background-color: #3e43a4; border-radius: 100%; z-index: 2;}
.service_mall_inner::after {content: ""; position: absolute; top:0; left: 0; width:230px; height: 42px; background-size: 100% auto; background-image: url("../img/bg_service_mall_shape@2x.png");}
.service_mall_box {flex:1; padding-top: 9px;}
.service_mall_box > .service_mall_list {font-size: 0; }
.service_mall_box > .service_mall_list > .service_mall_item {position: relative; display: inline-block; vertical-align: top;width:120px;}
.service_mall_item > a {color:#fff; text-align: center; font-size: 14px; font-weight: 900; padding-left: 35px; line-height: 32px; letter-spacing: -1px;}
.service_mall_item:not(:first-child) {margin-left:-32px;}
.ebook {background-image: url("../img/menubar1.png"); background-position: center; background-repeat: no-repeat; background-size: 135px 33px; transform: translate(0, 0);}
.sam {background-image: url("../img/menubar2.png"); background-position: center; background-repeat: no-repeat; background-size: 135px 33px; transform: translate(87 0); padding-left: 10px;}
.hottracks {background-image: url("../img/menubar3.png"); background-position: center; background-repeat: no-repeat; background-size: 135px 33px;  transform: translate(174, 0);}
.location {background-image: url("../img/menubar4.png"); background-position: center; background-repeat: no-repeat; background-size: 135px 33px; transform: translate(261, 0);}
.talk {background-image: url("../img/menubar5.png"); background-position: center; background-repeat: no-repeat; background-size: 135px 33px;  transform: translate(348, 0);}
.story {background-image: url("../img/menubar6.png"); background-position: center; background-repeat: no-repeat; background-size: 135px 33px; ; transform: translate(437, 0);}
.more_brand {position: relative; padding-left: 25px;}
.more_brand > .btn_brand_more {padding:6px 0 8px; font-size: 13px; line-height: 19px; color:#595959;}
.more_brand > .btn_brand_more::after {content: ""; position: relative; display: inline-block; width: 6px; height: 4px; background-position: center; background-repeat: no-repeat; background-size: 6px 4px; background-image: url("../img/arw_service_more@2x.png"); vertical-align: top; margin:6px 0 0 4px;}

/**브랜드 더보기**/
.brand_more_list_box {opacity: 0; display: block; position: absolute; width:330px; border-radius: 16px; border:1px solid #d5d5d5; background-color: #fff; padding:19px; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.12);} 
.custom_scroll_wrap {padding-right: 18px; width:100%; height: 100%; overflow-x: hidden; overflow-y: auto; display: block; position: relative;}
.custom_scroll_inner {display: block;}
.custom_scroll_inner > ul > .brand_more_item {display: inline-block; width: 50%; vertical-align: top; padding:5px 0;}

.custom_scroll_inner > ul > .brand_more_item > a > .img_box {display: inline-block; width:34px; height: 34px; margin-right: 6px; border-radius: 100%; overflow: hidden; vertical-align: top;}
.custom_scroll_inner > ul > .brand_more_item > a > .img_box > img {width: 100%;}
.custom_scroll_inner > ul > .brand_more_item > a > .brand_name {display: inline-block; margin-top: 7px; font-size:13px; line-height: 19px; color:#595959; vertical-align: top;}

.customer_service_box {margin:9px 0 0 auto;}
.customer_service_box > .customer_service_list {font-size: 0;}
.customer_service_box > .customer_service_list > .customer_service_item {position: relative; display: inline-block; vertical-align: top; }
.customer_service_box > .customer_service_list > .customer_service_item > .util_link {display: inline-block; padding:6px 0 8px; font-size: 13px; line-height: 18px; color:#595959; opacity: 0.8; vertical-align: top;}  
.customer_service_item:not(:first-child) > a::before {content:""; display: inline-block; width:1px; height: 8px; background-color: #595959; margin:10px 10px 0; opacity: 0.2; vertical-align: top;}
.btn_member_benefit::after {position: relative; content: ""; display: inline-block; width:6px; height: 4px; margin:12px 0 0 4px; background: url("../img/arw_benefit_more@2x.png") center no-repeat; background-size: 6px 4px; vertical-align: top;} 

/**헤더 메인**/
.header_inner {width:1200px; margin: 0 auto;  position: relative;}
/**로고 박스**/
.header_inner > .gnb_search_wrap {position: relative; padding:31px 188px 0 206px; width: 1200px; height: 79px;}
.gnb_search_wrap  > .logo_box {width:174px; height: 76px; position: absolute; top:10px; left:0;  display: block;}
.gnb_search_wrap  > .logo_box > .logo_link {display: block; height: 100%;}
.gnb_search_wrap  > .logo_box > .logo_link > .scean {display: block; width: 100%; height: 100%;position: absolute; left: 0; top:0;}
.gnb_search_wrap  > .logo_box > .logo_link > .scean > .logo_img {width:174px; height: 76px; background:url("../img/img_logo_kyobo@2x.png") no-repeat 0 0/100%; display: block; position: absolute;}
/**검색창**/
.gnb_search_box {width:560px; height:48px; padding-right: 14px; border-radius: 25px; border: 1px solid #5055b1; background-color: #fff; position: absolute; left: 200px; top:30px; display: flex; align-items: center;}
.gnb_search_box > .form_sel {width:133px; margin:-1px 0 0 -1px; display: inline-block; align-self: flex-start;} 
#gbCode {display: none; font-size: 14px; border:none; background: none;}
.ui_selectmenu_button {position: relative; display: inline-block; width:100%; height: 48px; padding:0; border: 1px solid transparent; border-bottom: none; border-radius: 24px; background:none; transition: none; z-index: 1;}
.ui_selectmenu_button > .ui_selectmenu_icon {position: absolute; right: 16px; top:21px; width: 6px; height: 4px; background-image: url("../img/arw_header_search@2x.png"); background-position: center; background-repeat: no-repeat; background-size: 6px 4px;}
.ui_selectmenu_text {position: absolute; padding:11px 16px 5px 24px; line-height: 22px; font-size: 14px;}

.gnb_search_box > .search_input_wrap {flex:1; height: 100%; position: relative; padding-left:16px;}
.search_input_wrap::before {content:""; position: absolute; display: block; width: 1px; height: 12px; top: 50%; left: 0; background-color: #eaeaea; transform: translateY(-50%);}
.gnb_search_box > .search_input_wrap > .ip_gnb_search {width:100%; height: 100%; background:none; border:none; font-size: 14px; line-height: 22px; letter-spacing: -0.01em;}

.search_icon_wrap {display: block; width:30px; height: 30px; background: url("../img/btn_header_search@2x.png") center no-repeat; background-size: 18px 18px; cursor: pointer;} 
/**장바구니 & 마이페이지**/
.user_menu_list {position: absolute; top:31px; right:0; height: 48px; display: flex; align-items: center; font-size: 0;}
.user_menu_list > .user_menu_item {position: relative; display: inline-block; vertical-align: top;}
.user_menu_list > .cart {width: 32px; height: 32px; margin-left: 28px;}
.user_menu_list > .user_menu_item > .user_menu_link {display: block; height: 100%;}
.user_menu_list > .cart > .user_menu_link::before {content: ""; display: inline-block; width:100%; height: 100%; background-image: url("../img/btn_header_cart@2x.png"); background-position: center; background-repeat: no-repeat; background-size: 100% 100%; vertical-align: top;}
.user_menu_list > .my {width:48px; height: 48px; margin-left: 32px; box-shadow: 0 5px 10px 0 rgba(77, 172, 39, 0.5); border-radius: 100%;}
.user_menu_list > .my > .user_menu_link {overflow: hidden; border-radius: 100%;}
.my > .user_menu_link::before {content: ""; display: inline-block; width:48px; height: 48px; background: url("../img/btn_header_my@2x.png") center no-repeat; background-size: 48px 48px; vertical-align: top;}

/**검색시 열리는 창**/
.auto_complete_wrap {display: none; overflow: hidden; position: absolute; top:85px; left: 206px; width: 994px; padding: 29px 29px 39px; background-color: #fff; border:1px solid #000; border-radius: 16px; z-index: 1000;} 
.auto_complete_wrap > .search_content_wrap {display: block;}
.auto_complete_wrap > .search_content_wrap > .scroll_wrap {min-height: 428px; max-height: calc(100vh - 210px); margin-right: -18px; overflow: auto;}
.auto_complete_wrap > .search_content_wrap > .scroll_wrap > .recommend_keyword_area {padding-bottom: 30px; margin-bottom: 30px; border-bottom: 1px solid #eaeaea;}
.auto_complete_wrap > .search_content_wrap > .scroll_wrap > .recommend_keyword_area > .title_wrap {padding-bottom: 20px; position: relative; display: flex; align-items: center;}
.auto_complete_wrap > .search_content_wrap > .scroll_wrap > .recommend_keyword_area > .title_wrap > .title_heading {font-size: 16px; line-height: 24px; display: inline-block; font-weight: 700; position: relative;}
.auto_complete_wrap > .search_content_wrap > .scroll_wrap > .recommend_keyword_area > .title_wrap > .tag_wrap {margin-right: 0; margin:-4px -3px; font-size: 0;}
.auto_complete_wrap > .search_content_wrap > .scroll_wrap > .keyword_contents_area {display: flex; align-items: stretch;}
.keyword_contents_area > .recent_keyword_box {display: flex; align-items: stretch; flex:0 auto; width:260px;}
.keyword_contents_area > .keyword_prod_box {flex:0 auto; width:290px; margin:0 52px;}
.keyword_contents_area > .hot_keyword_box {flex:0 auto; width:280px;}
.keyword_contents_area > .hot_keyword_box > .title_wrap > .title_heading {font-size: 16px; line-height: 24px; display: inline-block; font-weight: 700; position: relative;}
.util_area {margin-top:24px; text-align: right;}
.util_area > .btn_light_gray {color:#fff; background:#767676; border:1px solid #767676; }
.util_area > .btn_line_gray {color:#000; background:#fff; border:1px solid #ccc;}
.util_area > .btn_xs {display: inline-flex; align-items: center; height: 30px; padding: 0 9px 1px; border-radius: 4px; font-size:12px; line-height: 18px; font-weight: 500; height: 18px; margin-right: 3px; vertical-align: top;}
.util_area > a > .ico_search {background-size: 12px 18px; background-image: url("../img/ico_auto_complete_search@2x.png"); display: inline-block; width:12px; height: 18px;}
.util_area > a > .ico_link {background-size: 12px 18px; background-image: url("../img/ico_auto_complete_link@2x.png"); display: inline-block; width:12px; height: 18px;}
.btn_layer_close {position: absolute; top:26px; right: 26px; width:30px; height: 30px; padding:3px; vertical-align: top;} 
.btn_layer_close > .ico_layer_close {position: relative; z-index: 3; display: block; width:24px; height: 24px; background:url("../img/btn_dialog_close@2x.png") center no-repeat; background-size: 24px 24px;}

.ui-selectmenu-menu {display: block; height: 0; background-color: #fff; margin-top: -1px; border:1px solid #000; border-top: 0; transform: scale(0); position: absolute; padding:0; margin:0;}
.type_gnb {border-radius: 0 0 20px 20px; z-index: 1003;}
.type_gnb > .ui-menu {border-radius: 0 0 20px 20px; padding-bottom: 10px; max-width: 100%; max-height: 375px; overflow: auto;}
.type_gnb > .ui-menu > .ui-menu-item {margin-bottom: 0; margin:0; cursor: pointer;}
.type_gnb > .ui-menu > .ui-menu-item > .ui-menu-item-wrapper {padding:3px 24px; color:#595959; font-size: 14px; line-height: 22px; position: relative;}

/**메인 카테고리**/
.gnb_wrap {position: relative; width:1200px; height: 86px; padding:22px 0 20px; display: flex; align-items: center;}
.gnb_wrap > .anb_wrap {position: relative; margin-right: 10px;}
.gnb_wrap > .anb_wrap > .btn_anb {display: block; width:44px; height: 44px; background-image: url("../img/btn_anb_open@2x.png"); background-position: center; background-repeat: no-repeat; background-size: 44px 44px; border:none; background-color: transparent;}
/**카테고리 펼치기**/
.anb_area {opacity: 0; position: absolute; display: block; left: 0; top:61px; width:1200px; background-color: #fff; z-index: 103; overflow: hidden; border:1px solid #000; border-radius: 16px; height: 705px; min-height: 504px; max-height: calc(100vh - 100px); transition: opacity 0.23;}
.anb_area > .tab_wrap {height: 100%; width:100%; position: relative; display: inline-block; padding:0;} 
.anb_area > .tab_wrap > .tab_list_wrap {height: 54px; width: 100%; margin-bottom: 0; border-bottom: none; display: flex; align-items: center; width: 100%; background-color: forestgreen; font-size: 0;}
.anb_area > .tab_wrap > .tab_list_wrap > .tabs {display: flex; background-color: #f2f2f2; flex: 1 1 auto; position: relative; height: 100%; padding:0; margin: 0;}
.ui-tabs-nav::before {content: ""; display: table; border-collapse: collapse;}
.anb_area > .tab_wrap > .tab_list_wrap > .tabs > .ui-state-active {background: #fff; z-index: 2; margin-bottom: 0;}
.anb_area > .tab_wrap > .tab_list_wrap > .tabs > .tab_item {flex:1; padding:0 30px 1px; position: relative; height: 100%; margin:0; float: left;}
.anb_area > .tab_wrap > .tab_list_wrap > .tabs > .tab_item > .tab_link  {cursor: pointer; overflow: visible; position: relative; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; width:100%; height: 100%; padding:0; text-align: center;} 
.anb_area > .tab_wrap > .tab_list_wrap > .tabs > .tab_item > .tab_link > .tab_text {font-weight: 500; font-size: 15px; line-height: 23px; position: relative; z-index: 1; display: block; width:100%;}

.tab_content {height: calc(100% - 54px); min-height: 200px; padding:0; background:#fff; display: block;}
.tab_content > .tab_wrap {margin-top: 20px; position: relative; width: 100%; padding: 0;}
.tab_content > .tab_wrap > .tab_list_wrap {height: 35px; margin-bottom: 0; padding:0 40px; display: flex; align-items: start; width: 100%; border-bottom: 1px solid #d5d5d5; font-size: 0;}
.tab_content > .tab_wrap > .tab_list_wrap >.tabs {padding-bottom: 12px; display: inline-block; flex:1 1 auto; position: relative; height: 100%; padding: 0; margin: 0; background-color: #fff;}
.tab_content > .tab_wrap > .tab_list_wrap >.tabs > .tab_item {padding: 0 20px; z-index: 0; margin-bottom: 0; position: relative; height: 100%; margin:0; float: left;}
.tab_content > .tab_wrap > .tab_list_wrap >.tabs > .tab_item > a > .tab_text {color:#767676; font-size: 14px; line-height: 22px; font-weight: 400; position: relative; z-index: 1; display: block; width: 100%; transition: all 0.3s ease-out;}
.tab_content > .tab_wrap > .tab_list_wrap >.tabs > .tab_item > a > .tab_text::after {content: ""; position: absolute; left: 0; width: 100%; background-color: #000; bottom:-13px; height: 2px;}

.anb_categoty {padding:40px 50px 50px 40px;}
.anb_categoty > .anb_category_inner {font-size: 0;}
.anb_categoty > .anb_category_inner > .category {display: inline-block; position: relative; padding-left: 180px; height: 370px; min-height: 205px; max-height: calc(100vh - 435px); vertical-align: top; width: 100%;}
.anb_categoty > .anb_category_inner > .category > .tab_list_wrap {position: absolute; max-width: 160px; left: 0; top:0; height: auto; margin-bottom: 0; max-height: calc(100% + 135px); overflow: auto; display: flex; width: 100%;}
.anb_categoty > .anb_category_inner > .category > .tab_list_wrap > .tabs {display: inline-block; flex:1 1 auto; position: relative; height: 100%; padding:0; margin:0; background-color: #fff;}
.anb_categoty > .anb_category_inner > .category > .tab_list_wrap > .tabs > .tab_item {width: 100%; padding: 0; z-index: 2; margin-bottom: 0; position: relative; height: 100%; float: left;}
.anb_categoty > .anb_category_inner > .category > .tab_list_wrap > .tabs > .tab_item > .tab_link {padding-right:15px; display: inline-block; width: auto; text-align: left;}
.anb_categoty > .anb_category_inner > .category > .tab_list_wrap > .tabs > .tab_item > .tab_link > .tab_text {font-weight: 700; color:#4248b5; font-size: 15px; line-height: 23px; display: block; z-index: 1; width: 100%; }
.anb_categoty > .anb_category_inner > .category > .tab_list_wrap > .tabs > .tab_item > .tab_link > .tab_text::after {content:""; position: absolute; top:8px; left: auto; right: 0; display: block; width: 5px; height: 8px; background-size: 5px 8px; background-image: url("../img/arw_anb_category_tab@2x.png"); background-color: transparent; bottom:-1px;}

.has_banner {width:100%; height: 100%;}
.has_banner > .custom_scroll_wrap {display: inline-block; width: calc(100% - 220px); position: relative;}
.custom_scroll_wrap {height: 100%; overflow-x: hidden; overflow-y: auto;}
.simplebar-wrapper {overflow: hidden; width: inherit; height: inherit; max-width: inherit; max-height: inherit;}
.simplebar-height-auto-observer-wrapper {box-sizing: inherit !important; height: 100%; width: 100%; max-width: 1px; position: relative; float: left; max-height: 1px; overflow: hidden; z-index: -1; padding: 0; margin: 0;}
.simplebar-height-auto-observer {box-sizing: inherit; display: block; opacity: 0; position: absolute; top: 0; left: 0; height: 1000%; width: 1000%; min-height: 1px; min-width: 1px; overflow: hidden; z-index: -1;}
.simplebar-mask {direction: inherit; position: absolute; overflow: hidden; padding: 0; margin: 0; left: 0; top:0; bottom: 0; right: 0; width: auto !important; height: auto !important; z-index: 0;}
.simplebar-offset {direction: inherit !important; box-sizing: inherit !important; resize: none !important; position: absolute; top:0; left: 0; padding:0; margin: 0;} 
.simplebar-content-wrapper {direction: inherit; box-sizing: border-box !important; position: relative; display: block; width: auto; max-width: 100%; max-height: 100%;}
.simplebar-content::before {content: ""; display: table;}
.category_view_area {display: inline-block; width: calc(100% - 220px); vertical-align: top;}
.category_view_area > .btn_arw_link {font-size: 15px; line-height: 23px; font-weight: 700;}
.category_view_area > .btn_arw_link::after {content: ""; display: inline-block; width: 16px; height: 16px; margin: 2px 0 0 6px; background-image: url("../img/arw_anb_category_all@2x.png") 0% 0% no-repeat; background-size: 16px 16px; vertical-align: top;}

.fold_box_wrap {margin-top: 17px;}
.fold_box_wrap > .col_area {display: inline-block; width:calc((100% - 100px) / 3); vertical-align: top;}
.fold_box_wrap > .col_area:not(:first-child) {margin-left: 50px;}
.fold_box_wrap > .col_area > ul > .fold_box {display: block; width:100%; background-color: #fff; border-radius: 10px; overflow: hidden; }
.fold_box_header {font-size: 13px; line-height: 19px; font-weight: 400; padding:5px 10px 5px 0; cursor: auto; position: relative;}
.fold_box_header > .btn_fold {width: 19px; left: inherit; right: 0; position: absolute; top: 0; height: 100%; z-index: 1;}
.fold_box_header > .btn_fold::after {width:11px; height: 11px; right: 1; background-size: 11px 11px; background-image: url("../img/ico_fold_menu_plus@2x.png"); content: ""; position: absolute; display: block; top:50%; transform: translateY(-50%);}

.special_corner_area {margin-right: 40px; margin-left: 60px; position: absolute; display: inline-block; width:120px; top:0;}
.special_corner_area > .title_wrap {padding-bottom: 17px; display: flex; align-items: center; min-height: 24px;}
.special_corner_area > .title_wrap > .title_heading {font-size: 15px; line-height: 23px; display: inline-block; position: relative; font-weight: 700;}
.special_corner_item {padding:5px 0;}
.special_corner_link {font-size: 13px; line-height: 19px; color:#595959;}

.anb_category_bottom {margin-top: 40px; margin-left: 180px; font-size: 0;}
.anb_category_bottom > .recommend_service_list {display: inline-block; vertical-align: bottom;}
.anb_category_bottom > .recommend_service_list > .recommend_service_item {display: inline-block; width:70px; vertical-align: top;}
.anb_category_bottom > .recommend_service_list > .recommend_service_item:not(:first-child) {margin-left: 37px;}
.anb_category_bottom > .recommend_service_list > .recommend_service_item > a >.img_box {display: block; width:70px; height: 70px; border-radius: 16px; overflow: hidden;}
.anb_category_bottom > .recommend_service_list > .recommend_service_item > a >.img_box > img {width: 100%;}
.anb_category_bottom > .recommend_service_list > .recommend_service_item > a > .title {display: block; margin-top: 6px; font-size: 13px; line-height: 19px; color:#767676; text-align: center;}

/**네비게이션**/

.anb_wrap {position: relative; width:44px; height: 44px; margin-right: 10px; margin-left: 0px;}

.gnb_list {width:780px; height: 34px;}
.gnb_item {display: inline-block;}
.gnb_link {color:#000;}
.green {color:#4dac27;}
.gnb_text {display: inline-block; line-height: 24px; padding:5px 12px; font-weight: 900; letter-spacing: -1px;}
.icon_new {position: relative; top:5px; right:10px; width:4px; height: 4px; background-color: #4dac27; border-radius: 2px; position: relative; display: inline-block; vertical-align: top;}
.gnb_item:not(:first-child)::before {content: ""; display: inline-block; width: 2px; height: 2px; margin:15px -3px 0; background-color: #000; vertical-align: top; }

.gnb_sub_list {width:160px; height: 22px; margin-left: auto; margin-right: -168px; }
.gnb_sub_item {display: inline-block;}
.gnb_sub_item:nth-of-type(2)::before {content: ""; display: inline-block; width: 2px; height: 2px; margin:10px -3px 0; background-color: #595959; vertical-align: top; }
.gnb_sub_link {font-size: 14px; line-height: 22px; color:#595959; padding:3px; letter-spacing: -0.01em;}
.more_service {position: relative; margin-left: 4px;}
.btn_more_service {display:inline-block; width:20px; height: 20px; background-image:url("../img/btn_gnb_service_more@2x.png"); background-size: 20px 20px; background-position: center;  border:none; background-color: transparent;}

.curtain_banner_wrap {width:36px; height:87px; margin-right:0;}

/**풋터**/
.footer_wrapper {margin-top: 150px;}
.defult {border-top-width: 1px;}
.footer_header {margin-top: 150px; border-top:1px solid #d5d5d5;}

.footer_inner {padding: 19px 0 20px; width:1200px; margin: 0 auto; display: flex; align-items: center;}
.notice_wrap {flex:1; display: flex; align-items: center;}
.notice_text {font-size: 15px; display: inline-block; line-height: 22px; font-weight: 700; vertical-align: top;}
.notice_link {flex:1; margin-left: 30px; vertical-align: top; display: inline-block; font-size: 14px; line-height: 22px; text-decoration: underline; width:100%; max-width: 100%; height: auto; max-height: none; overflow: hidden;}
.notice_wrap > .right_area {margin-left: auto; padding-left: 15px;}

.winner {position: relative; padding-left: 61px;}
.winner::before {content: ""; position:absolute; display: inline-block; width:1px; height: 9px; background:#d5d5d5; left: 30px; top:7px} 

.welcome_main_service_area {margin-top: 0; padding:40px 0 50px; background-color: #f7f7f7; border-top: 1px solid #eaeaea;}
.welcome_main_service_area > .footer_inner {padding:0;}
.service_group_area {width:100%; display: flex; align-items: stretch;}
.service_group_box {flex:1;}
.service_group_box:not(:first-child) {border-left: 1px solid #eaeaea; padding-left: 37px;}
.service_group_box > a {padding-right: 22px; background-image: url("../img/arw_anb_category_all@2x.png"); background-repeat: no-repeat; background-position: right center; background-size: 16px 16px; }
.service_group_box > .group_name {display: inline-block; font-size: 14px; line-height: 22px; font-weight:700;}

.service_list {margin-top: 16px;}
.service_list > .service_item {font-size: 13px; line-height: 19px;}
.service_list > .service_item > a {color:#595959;}
.service_item:not(:first-child) {margin-top:10px;}

.footer_body {padding:40px 0 50px; border-top: 1px solid #eaeaea;}
.footer_body > .footer_inner {padding:0; display: block;}
.footer_body > .footer_inner > .logo_box {display: flex; align-items: flex-end; justify-content: space-between;}
.footer_body > .footer_inner > .logo_box > .logo_box {display: flex; align-items: flex-end; justify-content: space-between;  margin-left:0 ;}
.logo_box > .logo_link {width:168px; height: 48px; display: block;} 
.logo_box > .logo_link > img {width:100%; vertical-align: middle;}

.right_box { margin-right:0 ;}
.family_site_box {position: relative; width:206px; display: inline-block; vertical-align: middle;}
.family_site_box > .btn_family_site {background-color: #f7f7f7; border-color: #000; position: relative; width:100%; height: 44px; padding:0 22px; border:1px solid #f7f7f7; border-radius: 22px; text-align: left; cursor: pointer;}
.family_site_box > .btn_family_site > .text { font-size: 13px; line-height: 19px;}
.btn_family_site::after {content: ""; position: absolute; right:18px; top:50%; display: block; width:8px; height: 4px; margin-top: 2px; background: url("../img/arw_familysite_more@2x.png") center no-repeat; background-size: 8px 4px;}

.family_site_box > .family_site_list {display: none; position: absolute; left: 0; bottom:-20px; width:206px; padding:20px 22px; border:1px solid #d5d5d5; border-radius: 20px; background-color: #fff; z-index: 1000;} 
.family_site_box > .family_site_list > li > .family_site_link {display: block; font-size: 13px; line-height: 19px; color:#595959;}
.family_site_box > .family_site_list > .family_site_item:not(:first-child) {margin-top:5px;}

.sns_share_box {margin-left: 12px; display: inline-block; vertical-align: middle;}
.sns_share_box > .btn_sns_share {display: inline-block; width:32px; height: 32px; vertical-align: top; background-position: center; background-repeat: no-repeat;}
.youtube {background-size: 32px 32px; background-image: url("../img/btn_footer_sns_youtube@2x.png");}
.fb {background-size: 32px 32px; background-image: url("../img/btn_footer_sns_fb@2x.png");}
.insta {background-size: 32px 32px; background-image: url("../img/btn_footer_sns_insta@2x.png");}

.footer_contents_wrap {margin-top: 28px; display: flex; }
.footer_contents_left {flex: 1;}
.footer_contents_left > .footer_menu_box {margin-top:2px;}
.footer_menu_list {font-size: 0;}
.footer_menu_item {display: inline-block; vertical-align: top;}
.footer_menu_item > a {font-size: 14px; line-height: 22px; font-weight: 500; color:#595959;}
.footer_menu_item:not(:first-child)::before {content: ""; display: inline-block; width:1px; height: 12px; margin: 4px 12px 0; background-color:#d5d5d5; vertical-align: top;}
.privacy {font-weight: 700; color:#000; text-decoration: underline;}

.footer_info_box {margin-top: 20px; font-style: normal; font-size: 0; display: block;}
.footer_info_box > .info_text {display: inline-block; margin-top: 4px; font-size: 13px; line-height: 19px; color:#595959; vertical-align: top; letter-spacing: -1.5px;}
.footer_info_box > .gap {content: ""; display: inline-block; width:1px; height: 9px; margin: 8px 6px 0; background-color: #d5d5d5; vertical-align: top;}
.btn_footer_link {margin-left: 4px; transform: translateY(1px); display: inline-block; padding:5px 5px; border:1px solid #ccc; border-radius: 4px; font-size: 12px; font-weight: 500; line-height: 1; vertical-align: top;}
.btn_footer_link::after {content: ""; display: inline-block; width:6px; height: 6px; margin:3px 0 02px; vertical-align: top; background:url("../img/arw_footer_link@2x.png") center no-repeat; background-size: 6px 6px;} 
.copyright {margin-top: 23px; font-size: 12px; line-height: 18px; color:#767676;}

.footer_contents_right {margin-left: auto;}
.service_text {display: inline-block; margin:3px 6px 0 0; font-size: 12px; line-height: 18px; color:#595959; vertical-align: top;}
.service_desc {margin-top: 3px; font-size: 12px; line-height: 18px; color:#767676;}
.footer_mark_isms {margin-top:22px; display: flex; align-items: center;}
.mark_link {display: block; font-size: 12px; line-height: 18px; color:#767676; padding:7px 0 7px 54px; background-image: url("../img/img_mark_isms@2x.png"); background-position: 0 0; background-repeat: no-repeat; background-size: 48px 48px;}
.mark_desc {display: block; margin-left: 17px; font-size: 12px; line-height: 18px; color:#767676;}